.floating-element {
    padding-top: 10pt;
    padding-bottom: 10pt;
}
span.red {
    color: red;
}
.error {
    font-size: 0.75em;
    color: red;
}
.help-text {
    font-size: 0.75em;
    color: grey;
}
.vertical-center {
    min-height: 75%;
    min-height: 75vh;

    display: flex;
    align-items: center;
}
.author-card {
    font-size: 0.85em;
    text-align: justify;
}
.author-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }