{% extends "cinditeapp/base.html"%}
{% load static %}

{% block content %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
  <div class="row">
    <div class="col">
      <h1>CINDITE - Commercial Index For Distributed Teams</h1>
        <p>
          An application which helps distributed teams obtain consistent and unique commercial codes for further usage in product commercial setup.<br/>
        </p>
      <h2 id="dependencies">Dependencies</h2>
        <p>
          django==4.0.3<br/>
          djangorestframework==3.13.1<br/>
          psycopg2==2.9.3<br/>
          gunicorn==20.1.0<br/>
          requests==2.27.1
        </p>
      <h2 id="development">Development</h2>
        <p>
          Python 3.10.4 virtual env<br/>
          Visual Studio Code<br/>
          Django<br/>
          Django REST Framework<br/>
          Git<br/>
          SQLite<br/>
          Postman<br/>
          Pytest (in progress - for testing sample please see <a target="_blank" href="https://gitlab.com/michal-chmielarz/pay-authorisation">another project</a>)<br/>
          Bootstrap 5.1.3
        </p>
      <h2 id="production">Production</h2>
        <p>
          Web app (Dockerfile)<br/>
          PostgreSQL (Docker)<br/>
          AWS Elastic Compute Cloud<br/>
          AWS S3 static hosting<br/>
          HTTP server: Gunicorn<br/>
          Proxy server: Nginx<br/>
        </p>
      <h2 id="deployment">Deployment</h2>
        <p>
          <b>The deployment process is a combination of own favourite best practices with intention to keep them concise and clear. Includes:</b>
          <ul>
            <li>full integration under Gitlab CI/CD pipeline</li>
            <li>automated creation of source bundle</li>
            <li>multicontainer solution put together with docker-compose</li>
            <li>automated deployment via AWS CLI</li>
            <li>AWS EC2 instance managed via AWS Elastic Beanstalk</li>
            <li>access to running containers via SSH</li>
            <li>a Gunicorn HTTP server</li>
            <li>static files hosted from a separate public AWS S3 bucket</li>
          </ul>
        </p>
      <h2 id="hosting">Hosting with SSL</h2>
        <p>
          HTTPS<br/>
          SSL Certificate<br/>
          custom domain<br/>
        </p>
      <h2 id="business">Business logic in a nutshell</h2>
        <p>
          <b>Services</b> are offered in variants. Service variant is called a Product. Users are not allowed to duplicate Service codes or Variant codes thus resulting Products are also unique.
        </p>
        <p>
          <b>Products</b> do not exist on their own. They always depend on a parent Service-Variant pair.
        </p>
        <p>
          <b>Index</b> is a unique identifier of a product collection created for specific business purpose. Index reference is used to explicitly tag files, e-mail subjects and other details across the systems.
        </p>
        <p>
          <div class="alert alert-primary" role="alert">
            <h6 class="alert-heading"><i class="fa fa-info-circle"></i> Business logic rules</h6>
            <hr>
            <p>Service + Variant = Product</p>
          </div>
        </p>
      <h2 id="permissions">Permissions (GUI & API)</h2>
        <div class="table-responsive">
            <table class="table text-center">
              <thead>
                <tr>
                  <th style="width: 10%;"></th>
                  <th style="width: 24%;"></th>
                  <th style="width: 22%;">Admin</th>
                  <th style="width: 22%;">Logged User</th>
                  <th style="width: 22%;">Anonymous</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><i class="fa fa-eye"></i></td>
                  <th scope="row" class="text-start">View admin</th>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                  <td><i class="fa fa-eye"></i></td>
                  <th scope="row" class="text-start">View own</th>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td><i class="fa fa-eye"></i></td>
                  <th scope="row" class="text-start">View any</th>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td><i class="fa fa-plus-square-o"></i></td>
                  <th scope="row" class="text-start">Create</th>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td><i class="fa fa-pencil-square-o"></i></td>
                  <th scope="row" class="text-start">Update own</th>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td><i class="fa fa-pencil-square-o"></i></td>
                  <th scope="row" class="text-start">Update any</th>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td><i class="fa fa-trash-o"></i></td>
                  <th scope="row" class="text-start">Delete own</th>
                  <td><i class="fa fa-check"></i></td>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                </tr>
                <tr>
                  <td><i class="fa fa-trash-o"></i></td>
                  <th scope="row" class="text-start">Delete any</th>
                  <td><i class="fa fa-check"></i></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          <p>
            <div class="alert alert-primary" role="alert">
              <h6 class="alert-heading"><i class="fa fa-info-circle"></i> Business logic rules</h6>
              <hr>
              <p>
                <b>Codes</b> act as unique billing identifiers. Therefore, there are field specific rules that apply to all users:
                <ul>
                  <li>code fields are blocked for editing once created,</li>
                  <li>the only way to edit a code is to remove the whole entry and raise it once again under a new id,</li>
                  <li>users are not allowed to duplicate codes but are allowed to duplicate names as long as the code is different,</li>
                  <li>Product code remains attached to its parent codes throughout the Product's lifetime but the name might get changed due to business reasons (companies being aquired, merged etc.)</li>
                </ul>
              </p>
            </div>
          </p>
      <h2 id="restrictions">Restrictions</h2>
        <h5>Custom classes responsible for access restrictions</h5>
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th style="width: 10%;"></th>
                <th style="width: 24%;"></th>
                <th style="width: 33%;">GUI</th>
                <th style="width: 33%;">API</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="fa fa-eye"></i></td>
                <th scope="row" class="text-start">View any</th>
                <td>QuerySetMixin</td>
                <td>QuerySetMixin</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td><i class="fa fa-plus-square-o"></i></td>
                <th scope="row" class="text-start">Create</th>
                <td>FormAuthenticationTestMixin</td>
                <td>IsAuthenticatedOwnerOrReadOnly</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td><i class="fa fa-pencil-square-o"></i></td>
                <th scope="row" class="text-start">Update any</th>
                <td>PermissionTestMixin</td>
                <td>IsAuthenticatedOwnerOrReadOnly</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td><i class="fa fa-trash-o"></i></td>
                <th scope="row" class="text-start">Delete any</th>
                <td>PermissionTestMixin</td>
                <td>IsAuthenticatedOwnerOrReadOnly</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table class="table text-center">
            <thead>
              <tr>
                <th style="width: 10%;"></th>
                <th style="width: 24%;"></th>
                <th style="width: 33%;">GUI</th>
                <th style="width: 33%;">API</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><i class="fa fa-exclamation-triangle"></i></td>
                <th scope="row" class="text-start">Codes: no updates</th>
                <td><i>Model</i>UpdateForm (readonly: True)</td>
                <td><i>Model</i>SerializerWithReadOnly*</td>
              </tr>
            </tbody>
            <tbody>
              <tr>
                <td><i class="fa fa-exclamation-triangle"></i></td>
                <th scope="row" class="text-start">Codes: no duplicates</th>
                <td>PreventDuplicateCodesMixin</td>
                <td>PerformCreateMixin</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>*For Product model, the class additionally prevents from updates on parent codes.</p>
      <h2 id="appbackground">Application background</h2>
        <p>
          <h5>Case Study</h5>
          A team of around 30 analysts spread across several countries worldwide set up commercial requirements for company products. Their daily task is to create bunches of codes, pricing tables and other dependencies. The configuration they create has to be maintained under specific, unique id & service codes.
        </p>
        <p>
          <h5>Problem</h5>
          Given the distributed nature of the team, the members have to communicate each time one sets a new product. First they tried exchanging e-mails but that did not work. Currently they maintain records on a shared drive but the solution is a subject to human errors - typos, inconsistencies, interfering entry numbers. There is a complex IT solution underway which includes facilitating their job, unfortunately the system may take up to 2 years before it becomes fully operational.
        </p>
        <p>
          <h5>Solution</h5>
          A temporary, minimalistic web app which keeps control of all product codes being raised and ensures correct details are in place. At later stage, the app would become a part of the bigger project underway.
        </p>
        <h3>Requirements</h3>
          <p>
            <ul>
              <li>must distribute unique commercial entries and tags,</li>
              <li>must ensure the service codes are consistent,</li>
              <li>must provide API to integrate with complex solution at later stage,</li>
              <li>should give basic overview statistics allowing to track workload per user</li>
            </ul>
          </p>
    </div>
    <div class="col-md-3">
      <p>Content
        <ul>
          <li><a href="#dependencies">Dependencies</a></li>
          <li><a href="#development">Development</a></li>
          <li><a href="#production">Production</a></li>
          <li><a href="#deployment">Deployment</a></li>
          <li><a href="#hosting">Hosting with SSL</a></li>
          <li><a href="#business">Business logic</a></li>
          <li><a href="#permissions">Permissions</a></li>
          <li><a href="#restrictions">Restrictions</a></li>
          <li><a href="#appbackground">Application background</a></li>
        </ul>
      </p>
    </div>
    </div>
  </div>
</div>
{% endblock %}