{% extends "cinditeapp/base.html"%}
{% load static %}

{% block content %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
    <h2>API Access</h2>
    <p>Cindite offers user interface as well as programmatic API access.</p>
    <h3>Browsable API</h3>
      <p>Browsable API comes up whenever HTML format is requested on an API endpoint. For authenticated users, it shares login session with the rest of Cindite app available via user interface.
        You can browse to one of the endpoints given <a href="#endpoints">below</a> or simply click <a target="_blank" href="{% url 'service-api-list' %}">here</a>.</p>
    <h3 id="token_auth">Token Authentication</h3>
      <p>Programmatic access is token based:
        <ol>
        <li>
          <p>
            Request API login endpoint at /api/login/ and <b>POST</b> your login credentials:<br/><code>{ "username": "test", "password": "test" }</code>
          </p>
        </li>
        <li>
          <p>
            An API Token shall be generated for you in response:<br/><code>{ 'token' : '9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b' }</code>
          </p>
        </li>
        <li>
          <p>
            Add Token to the header of your further requests to ensure authentication. Example request in Python:<br/>
            <code>import requests
              <p>headers = {<br/>"Authorization": "Token 9944b09199c62bcf9418ad846dd0e4bbdfc6ee4b",</br>}</p>
              <p>response = requests.get("http://cindite.michalchmielarz.pl/api/service/23/", headers=headers)<br/>data = response.json()<br/>print(data)</p>
            </code>
          </p>
        </li>
        <li>
          <p>Example response:<br/><code>{
            <br/>&nbsp;&nbsp;'id': 23,
            <br/>&nbsp;&nbsp;'code': 'ACM',
            <br/>&nbsp;&nbsp;'name': 'ACME FINANCIALS INC.',
            <br/>&nbsp;&nbsp;'created': '2022-04-24T21:26:21.977567Z',
            <br/>&nbsp;&nbsp;'owner': 'admin'
            <br/>}</code></p>
        </li>
        </ol>
      </p>
    <h3>Permissions</h3>
    <p>Cindite API and interface access share the same permission rules. For more information, see the reference table available <a href="{% url 'about' %}#permissions">here</a>.</p>
    <h3 id="endpoints">API Endpoints</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 15%;">endpoint</th>
              <th style="width: 55%;">endpoint description</th>
              <th style="width: 30%;">absolute path</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="text-start"><a target="_blank" href="{% url 'login-api' %}">login/</a></th>
              <td>Token based API login endpoint, requires POST request. See more information <a href="#token_auth">above</a>.</td>
              <td>michalchmielarz.pl/api/login/</td>
            </tr>
            <tr>
              <th scope="row" class="text-start"><a target="_blank" href="{% url 'service-api-list' %}">service/</a></th>
              <td>Service API endpoint - lists all services available to user.</td>
              <td>michalchmielarz.pl/api/service/</td>
            </tr>
            <tr>
              <th scope="row" class="text-start">service/{id}/</th>
              <td>Service API endpoint - detailed view of a particular service under service id.</td>
              <td>michalchmielarz.pl/api/service/{id}/</td>
            </tr>
            <tr>
              <th scope="row" class="text-start"><a target="_blank" href="{% url 'variant-api-list' %}">variant/</a></th>
              <td>Variant API endpoint - lists all variants available to user.</td>
              <td>michalchmielarz.pl/api/variant/</td>
            </tr>
            <tr>
              <th scope="row" class="text-start">variant/{id}/</th>
              <td>Variant API endpoint - detailed view of a particular variant under variant id.</td>
              <td>michalchmielarz.pl/api/variant/{id}/</td>
            </tr>
            <tr>
              <th scope="row" class="text-start"><a target="_blank" href="{% url 'product-api-list' %}">product/</a></th>
              <td>Product API endpoint - lists all products available to user.<br/>
                <b>POST:</b> According to business logic, product is a mix of a service-variant pair. Therefore, new products are created by providing <i>exisitng</i> service id & variant id.<br/>More information on business logic can be found <a target="_blank" href="{% url 'about' %}#business">here</a>.</td>
              <td>michalchmielarz.pl/api/product/</td>
            </tr>
            <tr>
              <th scope="row" class="text-start">product/{id}/</th>
              <td>Product API endpoint - detailed view of a particular product under product id.</td>
              <td>michalchmielarz.pl/api/product/{id}/</td>
            </tr>
            <tr>
              <th scope="row" class="text-start"><a target="_blank" href="{% url 'stats-api' %}">stats/</a></th>
              <td>Simple statistics API endpoint - count of services, variants, products created per user in a given period of time. Helps track employee workloads.</td>
              <td>michalchmielarz.pl/api/stats/</td>
            </tr>
          </tbody>
        </table>
      </div>
      <p>
        <div class="alert alert-warning" role="alert">
          <h6 class="alert-heading"><i class="fa fa-exclamation-triangle"></i> Permission rules</h6>
          <hr>
          <p>Please note that you have to be authenticated in order to view, create, update or delete your own content. 
            For more information, see <a href="{% url 'about' %}#permissions">permission rules.</a></p>
        </div>
      </p>
    <h3>API Endpoint Parameters</h3>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th style="width: 10%;">parameter</th>
              <th style="width: 10%;">scope</th>
              <th style="width: 10%;">requirement</th>
              <th style="width: 20%;">example</th>
              <th style="width: 50%;">description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="text-start">search</th>
              <td>all</td>
              <td>optional</td>
              <td><code>?search=exchange</code></td>
              <td>Searches through content values and returns the filtered results. Search is performed on code, name, owner username (and index_id for Products only). </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">sort</th>
              <td>all</td>
              <td>optional</td>
              <td><code>?sort=code</code><br/><code>?sort=-name</code></td>
              <td>Sorts the field given as a parameter. Both ascending and descending sorting is supported. In order to sort descending, add "-" in front of the key name. 
                Invalid parameter returns no sorting.
              </td>
            </tr>
            <tr>
              <th scope="row" class="text-start">limit</th>
              <td>all</td>
              <td>optional</td>
              <td><code>?limit=10</code></td>
              <td>Pagination parameter. Constrains maximum number of results returned. Default is 10.</td>
            </tr>
            <tr>
              <th scope="row" class="text-start">offset</th>
              <td>all</td>
              <td>optional</td>
              <td><code>?offset=10</code></td>
              <td>Pagination parameter. Represents the starting point with reference to the complete size of the result-set.</td>
            </tr>
            <tr>
              <th scope="row" class="text-start">from_date</th>
              <td>stats/</td>
              <td>optional</td>
              <td><code>?from_date=2022-05-01</code></td>
              <td>Filters from a given date. Can be joined with to_date.</td>
            </tr>
            <tr>
              <th scope="row" class="text-start">to_date</th>
              <td>stats/</td>
              <td>optional</td>
              <td><code>?to_date=2022-05-03</code></td>
              <td>Filters to a given date. Can be joined with from_date.</td>
            </tr>
          </tbody>
        </table>
      </div>
</div>
{% endblock %}