{% load static %}
{% load update_url %}
<!DOCTYPE html>
<html>
    {% include './head.html' %}
    <body>
      <div class="container-lg">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <ul class="nav col-12 col-md-auto justify-content-center mb-2 mb-md-0">
            <li><a href="{% url 'index' %}" class="nav-link px-2 link-secondary">Index</a></li>
            <li><a href="{% url 'service' %}" class="nav-link px-2 link-dark">Services</a></li>
            <li><a href="{% url 'service-create' %}" class="nav-link px-2 link-dark">Create Service</a></li>
            <li><a href="{% url 'variant' %}" class="nav-link px-2 link-dark">Variants</a></li>
            <li><a href="{% url 'variant-create' %}" class="nav-link px-2 link-dark">Create Variant</a></li>
            <li><a href="{% url 'api' %}" class="nav-link px-2 link-dark">API</a></li>
            <li><a href="{% url 'about' %}" class="nav-link px-2 link-dark">About</a></li>
          </ul>
          <div class="col-md-3 text-end">
            {% if request.user.is_authenticated %}
            {{ request.user }}
            <i class="fa fa-user-circle-o me-2 ms-1"></i>
            <a href="{% url 'logout' %}" type="button" class="btn btn-outline-primary">Log out</a>
            {% else %}
            <a href="{% url 'login' %}" type="button" class="btn btn-outline-primary me-1">Login</a>
            <a href="{% url 'signup' %}" type="button" class="btn btn-primary">Sign-up</a>
            {% endif %}
          </div>
        </header>
      </div>
      {% block content %}
      {% endblock %}
      {% include './footer.html' %}
    </body>
</html>