{% extends "cinditeapp/base.html"%}
{% load static %}

{% block content %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
    <h2>Create {{ model_name }}</h2>
        <p>{{ model_name }} code "{{ code|upper }}" already exists. Please try another one.</p>
        <div class="floating-element text-center">
            <a class="btn btn-secondary" href="{% url redirect  %}">OK</a>
        </div>
    </form>
</div>
{% endblock %}