<footer class="footer">
    <div class="container-lg">
      <span class="text-muted small">Copyright &copy; 2022 Michal Chmielarz. Python portfolio samples at <a class="text-reset text-decoration-none" target="_blank" href="https://gitlab.com/michal-chmielarz">gitlab.com/michal-chmielarz</a></span>
    </div>
  </footer>