{% extends "cinditeapp/base.html"%}
{% load static %}

{% block content %}
{% include './search.html' %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
    <h2>Commercial Index For Distributed Teams</h2>
    
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <td>
                    <a class="text-reset text-decoration-none" href="?{% if request.GET.sort == 'index_id' %}{% update_url sort='-index_id' %}{% else %}{% update_url sort='index_id' %}{% endif %}">
                        <span {% if 'sort=index_id' in request.get_full_path or 'sort=-index_id' in request.get_full_path %}class="text-primary"{% endif %}>Index</span>
                    </a>
                </td>
                <td>Index Reference</td>
                <td></td>
                <td>
                    <a class="text-reset text-decoration-none" href="?{% if request.GET.sort == 'service__code' %}{% update_url sort='-service__code' %}{% else %}{% update_url sort='service__code' %}{% endif %}">
                        <span {% if 'sort=service__code' in request.get_full_path or 'sort=-service__code' in request.get_full_path %}class="text-primary"{% endif %}>Service Code</span>
                    </a>
                </td>
                <td>
                    {% include './listview_headers/listview_header_code.html' %}
                </td>
                <td>
                    {% include './listview_headers/listview_header_name.html' %}
                </td>
                <td>
                    {% include './listview_headers/listview_header_owner.html' %}
                </td>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.index_id }}</td>
                <td>CI{{ product.index_id }}__{{ product.code }}_{{ product.service.code }}</td>
                <td>
                    <a class="text-reset text-decoration-none" href="#" title="Copy Index Reference to clipboard" onclick="copyText('CI{{ product.index_id }}__{{ product.code }}_{{ product.service.code }}')">
                        <i class="fa fa-files-o"></i>
                    </a>
                </td>
                <td><a class="text-reset text-decoration-none" href="{% url 'service-product' product.service.id %}">{{ product.service.code }}</a></td>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.owner }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include './pagination.html' %}
</div>
{% endblock %}