{% extends "cinditeapp/base.html"%}

{% block content %}
      <div class="jumbotron vertical-center">
        <div class="container-lg text-center">
            <h1 class="cover-heading">Welcome to Cindite.</h1>
            <p class="lead">Cindite stands for <span class=red>C</span>ommercial <span class="red">In</span>dex for <span class="red">Di</span>stributed <span class="red">Te</span>ams. 
            An application which helps obtain consistent and unique commercial codes for further usage in product commercial setup. And achieve the goals.</p>
            <p class="lead">
            <a href="{% url 'index' %}" class="btn btn-lg btn-secondary">Learn more</a>
        </div>
      </div>
{% endblock %}