{% if not is_paginated %}
<div class="help-text text-end">{% if object_list.count > 0 %}1-{{ object_list.count }} of total {{ object_list.count }} records{% else %}total 0 records{% endif %}</div>
{% endif %}
{% if is_paginated %}
<div class="help-text text-end">{{ page_obj.start_index }}-{{ page_obj.end_index }} of total {{ page_obj.paginator.count }} records</div>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?{% update_url page=page_obj.previous_page_number %}">Previous</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="page-item active">
          <span class="page-link">{{ i }}<span class="sr-only">(current)</span></span>
        </li>
      {% else %}
        <li class="page-item">
          <a class="page-link" href="?{% update_url page=i %}">{{ i }}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?{% update_url page=page_obj.next_page_number %}">Next</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Next</span>
      </li>
    {% endif %}
  </ul>
{% endif %}