{% extends "cinditeapp/base.html"%}
{% load static %}

{% block content %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
    <h2>{{ object }}</h2>
    <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete the product?</p>
        {{ form }}
        <div class="floating-element text-center">
            <input class="btn btn-danger" type="submit" value="Confirm">
            <button class="btn btn-secondary" onclick="window.history.back();" type="button">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}