<div class="container-lg">
    <form method="get" action="{{ request.path }}">
        <div class="form-group row">
            <div class="col">
                <input class="form-control" id="search_box" type="text" name="search"  placeholder="{% if object_list %}{{ object_list.first.q_search.placeholder }}{% else %} No items to filter {% endif %}">
            </div>
            <div class="col">
                <button class="btn btn-primary me-1" id="search_submit" type="submit" >Search</button>
            </div>
        </div>
    </form>
</div>