{% extends "cinditeapp/base.html"%}
{% load static %}

{% block content %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
    <h2>{{ service.name }}</h2>
    {% if variants %}
    <form action="{% url 'service-product-submit' service.id %}" method="POST">
        {% csrf_token %}
        <ul class="list-group list-group-flush col-4">
            {% for variant in variants %}
            <li class="list-group-item">
                <label for="variant-{{ forloop.counter }}">{{ variant.name }}</label>
                <input class="form-check-input pull-right" type="checkbox" name="submit" value="{{ variant.id }}" id="variant-{{ forloop.counter }}">
            </li>
            {% endfor %}
        </ul>
        <div class="floating-element">
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>
</div>
    {% else %}
    <p>There is no Variants to be added. Please create new Variants or remove existing.</p>
    <div class="floating-element text-center">
        <a class="btn btn-secondary" href="{% url 'service-product' service.pk  %}">OK</a>
    </div>
    <div class="alert alert-warning" role="alert">
        <h6 class="alert-heading"><i class="fa fa-exclamation-triangle"></i> Permission rules</h6>
        <hr>
        <p>This app is a public demo version therefore you might not be seeing products already created by other users. 
            For more information, see <a href="{% url 'about' %}#permissions">permission rules.</a></p>
    </div>
</div>
    {% endif %}
{% endblock %}