{% extends "cinditeapp/base.html"%}
{% load static %}

{% block content %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
    <h2>{{ service.code }} - {{ service.name }}</a></h2>
    <div class="floating-element">
        <a class="btn btn-success" href="{% url 'service-product-add' service.pk %}">Add Products</a>
    </div>
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <td>
                    {% include './listview_headers/listview_header_code.html' %}
                </td>
                <td>
                    {% include './listview_headers/listview_header_name.html' %}
                </td>
                <td>
                    {% include './listview_headers/listview_header_created.html' %}
                </td>
                <td>
                    {% include './listview_headers/listview_header_owner.html' %}
                </td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.created | date:"Y/m/d G:i" }}</td>
                <td>{{ product.owner }}</td>
                <td>
                    <a class="btn btn-success" href="{% url 'service-product-update' service.id product.pk %}"><i class="fa fa-pencil-square-o"></i></a>
                    <a class="btn btn-danger" href="{% url 'service-product-delete' service.id product.pk %}"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include './pagination.html' %}
</div>
{% endblock %}