{% extends "cinditeapp/base.html" %}

{% block content %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
    <h2>Create Variant</h2>
    <form action="{% url 'variant-create' %}" method="POST">
        {% csrf_token %}
            <div class="form-group row">
                <label for="code" class="col-sm-1 col-form-label mb-2">Code</label>
                <div class="col-sm-4">
                    {{ form.code }}
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-1 col-form-label mb-2">Name</label>
                <div class="col-sm-4">
                    {{ form.name }}
                </div>
            </div>
        <div class="floating-element">
            <button class="btn btn-success" type="submit">Create</button>
        </div>
    </form>
</div>
{% endblock %}