{% extends "cinditeapp/base.html"%}
{% load static %}

{% block content %}
{% include './search.html' %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
    <h2>Variants</h2>
    
    <table class="table table-hover align-middle">
        <thead>
            <tr>
                <td>
                    {% include './listview_headers/listview_header_code.html' %}
                </td>
                <td>
                    {% include './listview_headers/listview_header_name.html' %}
                </td>
                <td>
                    {% include './listview_headers/listview_header_created.html' %}
                </td>
                <td>
                    {% include './listview_headers/listview_header_owner.html' %}
                </td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
        {% for variant in variants %}
        <tr>
            <td>{{ variant.code }}</td>
            <td>{{ variant.name }}</td>
            <td>{{ variant.created | date:"Y/m/d G:i" }}</td>
            <td>{{ variant.owner }}</td>
            <td>
                <a class="btn btn-success" href="{% url 'variant-update' variant.pk %}"><i class="fa fa-pencil-square-o"></i></a>
                <a class="btn btn-danger" href="{% url 'variant-delete' variant.pk %}"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>    
    {% include './pagination.html' %}
</div>
{% endblock %}