{% extends "cinditeapp/base.html"%}

{% block content %}
      <div class="jumbotron vertical-center">
        <div class="container-lg col-md-auto text-center">
          <form class="form-signin" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <h1 class="h3 mb-2">Please log in to play.</h1>
            <p>This is a demo version, no e-mail required.</p>
            <div class="error mb-3">
              {{ form.non_field_errors.as_text }}
            </div>
            <div class="form-group row">
              {{ form.username }}
            </div>
            <div class="form-group row">
              {{ form.password }}
            </div>
            <button class="btn btn-lg btn-primary mt-3 mb-3" type="submit" value="Log in">Log in</button>
            
            <div>
              No login yet? Sign up <a href="{% url 'signup' %}{% if next %}?next={{ next }}{% endif %}">here</a>
            </div>
            
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
          </form>
        </div>
      </div>
{% endblock %}