{% extends "cinditeapp/base.html"%}

{% block content %}
      <div class="jumbotron vertical-center">
        <div class="container-lg col-md-auto text-center">
          <form class="register-form" action="{% url 'signup' %}" method="POST">
            {% csrf_token %}
            <h1 class="h3 mb-2">Join Cindite.</h1>
            <p>This is a demo version, no e-mail required.</p>
            <div class="error mb-3">
              {% for field in form %}
                {% for error in field.errors %}
                  {{ error }}
                {% endfor %}
              {% endfor %}
            </div>
            <div class="form-group row mb-2">
              {{ form.username }}
              <div class="help-text text-start">{{ form.username.help_text }}</div>
            </div>
            <div class="form-group row mb-2">
              {{ form.password1 }}
              <div class="help-text text-start">{{ form.password1.help_text }}</div>
            </div>
            <div class="form-group row mb-2">
              {{ form.password2 }}
              <div class="help-text text-start">{{ form.password2.help_text }}</div>
            </div>
            <button class="btn btn-lg btn-primary mt-3 mb-3" type="submit" value="Sign up">Sign Up</button>
            {% if next %}
            <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
          </form>
        </div>
      </div>
{% endblock %}