{% extends "cinditeapp/base.html"%}
{% load static %}

{% block content %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
    <h2>403 Forbidden</h2>
        <p>You can play with your own content only.</p>
        <div class="floating-element text-center">
            <button class="btn btn-secondary" onclick="window.history.back();" type="button">OK</button>
        </div>
</div>
{% endblock %}