{% extends "cinditeapp/base.html"%}
{% load static %}

{% block content %}
<div class="container-lg shadow-sm p-3 mb-5 bg-white rounded">
    <h2>404 Page Not Found</h2>
        <p></p>
</div>
{% endblock %}